<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="project-info-box mt-0">
        <h5>{{model.name}}</h5>
<!--        <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est. Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.</p>-->
      </div><!-- / project-info-box -->

      <div class="project-info-box">
        <p><b>Nazwa:</b> {{model.name}}</p>
        <p><b>Nazwa wewnętrzna:</b> {{model.innerName}}</p>
        <p><b>Typ:</b> {{model.type.name}}</p>
      </div><!-- / project-info-box -->

      <div class="project-info-box mt-0 mb-0">
        <p class="mb-0 text-center">
          <button class="btn btn btn-primary bg-blue text-white mx-1"
                  type="button"
                  data-toggle="modal"
                  data-target="#edit-model-form-modal"
                  (click)="getModel(model.id)">
                  <i class="fa fa-pen"></i> Edytuj
          </button>
          <button class="btn btn btn-danger text-white"
                  type="button"
                  data-toggle="modal"
                  data-target="#delete-model-modal"
                  (click)="setActualModelId(model.id)">
                  <i class="fa fa-trash"></i> Usuń
          </button>
        </p>
      </div><!-- / project-info-box -->
    </div><!-- / column -->


    <div class="col-md-7">
      <img src="https://via.placeholder.com/400x300/FFB6C1/000000" alt="project-image" class="rounded">
      <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#pricing-div" aria-expanded="false"><i class="fa fa-bars"></i> Stawki</button>
      <div class="project-info-box collapse mt-0" id="pricing-div">
        <p><b>Tapicerzy:</b> Design, Illustration</p>
        <p><b>Piankowi:</b> Illustrator</p>
        <p><b>Szwaczki:</b> Illustrator</p>
      </div><!-- / project-info-box -->
    </div><!-- / column -->
  </div>
</div>
